@import 'formattingStyles';

// navigation bar for landing and member pages
.main-nav {
	display: inline-block;
}

// about.html page, profiles of web developers
div.profile {
	background-color: yellow;
	display: inline-block;
	margin: 5px;
}