@import 'formattingStyles';
@import 'animateSyles';

// navigation bar for landing and member pages
.main-nav ul li {
	display: inline-block;
	margin-right: 25px;
	float: right;
}
a {
	text-decoration: none;
}
// end navigation styling

h1 {
	text-align: center;
}
// about.html page, profiles of web developers
div.profile {
	background-color: yellow;
	display: inline-block;
	margin: 20px;
	padding: 10px;
	vertical-align: top;
	width: 25%;
	height: 450px;
}
.dogeMotto {
	font-style: italic;
}
.dogeContent {
	
}
h2.about {
	text-align: center;
}
// end about developer styling

.delete {
	float: right;
	background-color: #ccc;
	padding: 1px;
}

.friends {
	border: 1px solid black;
	width: 250px;
	display: inline-block;
	margin: 10px;
}