<ul>
  <li><a href="#/beginner">Beginner</a></li>
  <li><a href="#/bodymap">Bodymap</a></li>
  <li><a href="#/exerciselibrary">Exercise Library</a></li>
  <li><a href="#/intermediate">Intermediate</a></li>
  <li><a href="#/routine">Routine</a></li>
</ul>

<h1>5 x 5</h1>
<section>
  <div>
    <p>A great starter routine for those new to fitness is a 5 x 5 routine. It will allow you to learn and get accustomed to most exercises while making fairly linear progress. Through this program, you will lay a solid foundation that you will be able to build upon in the future.</p>
    <p>The way you would approach this routine is to find weights that you feel comfortable completing 5 repititions for 5 sets. This may mean starting a bit lighter than you normally would, which will help ensure that you are able to complete all of your sets. Each workout, you will add 5lbs to the 5x5 exercises. If you feel comfortable increasing by more, go ahead, but be careful. For accessory exercises, increase weight as you feel comfortable.</p>
    <p>We recommend warming up with the bar on all the exercises and slowly build up to your working sets. Warm ups do not count in the amount of sets you have performed.</p>
    <p>If you are unable to complete the 5x5, that is okay, complete it for as many reps and sets as you can. The next time you would perform that exercise try that same weight again. If you succeed in hitting 5x5, move up the normal 5lbs the following workout. If you fail to hit 5x5 again, the next workout, you will reduce the weight you used by 10% and start building back up from there. If the number you get ends with a decimal, round down. Finally, only reduce the weight in the exercise you failed in.</p>
  </div>
  <div>
    <p>If you start your routine on Monday this is how the program would look.</p>
      <li>Monday – Workout A</li>
      <li>Tuesday – Off Day</li>
      <li>Wednesday – Workout B</li>
      <li>Thursday – Off Day</li>
      <li>Friday – Workout A</li>
      <li>Saturday – Off Day</li>
      <li>Sunday – Off Day</li>
    <p>The following Monday you would start with workout B and alternate to workout A and so on.</p>
    <span class="bold underline">Workout Routine A</span>
    <p>The first number refers to the numbers of sets, the second number refers to the number of repititions</p>
    <ul>
      <li>Squats 5x5</li>
      <li>Bench Press 5x5</li>
      <li>Bent over rows 5x5</li>
      <li>Barbell Shrugs 3x8-12</li>
      <li>Tricep exercise of your choice 3x8-12</li>
      <li>Bicep exercise of your choice 3x8-12</li>
      <li>Pull-ups until you can hit 5x5, if too easy use weight</li>
      <li>Rope Cruches – 3x10-20</li>
    </ul>
    <span class="bold underline">Workout Routine B</span>
    <p>The first number refers to the numbers of sets, the second number refers to the number of repititions</p>
    <ul>
      <li>Squats 5x5</li>
      <li>Deadlift 1x5</li>
      <li>Overhead press 5x5</li>
      <li>Bent over rows 5x5</li>
      <li>Tricep exercise of your choice 3x8-12</li>
      <li>Bicep exercise of your choice 3x8-12</li>
      <li>Chin-up until you can hit 5x5, if too easy use weight</li>
      <li>Rope Crunch 3x10-20</li>
    </ul>
    <p>Don't know how to perform some of the above exercises? Check out our <a href="#/exerciselibrary">Exercise Library</a>. You'll find all of the exercises listed above with a brief description on how they should be performed.</p>
  </div>
</section>
<h1>Body Building Style Workout</h1>
<section>
  <p>If your goal </p>
  <p>The first number refers to the numbers of sets, the second number refers to the number of repititions</p>
  Day 1 - Back, Biceps, and Shoulders
  Seated Supported Machine Row 4x15
  Seated Side Laterals 5x20
  Standing Barbell Curl 4x15
  One-Arm Dumbbell Row 5x20
  Reverse Pec-Fly 4x12
  Two-Arm Machine Curl 4x12
  Seated Cable Row (close grip) 4x15
  Seated Dumbbell Front Raise 3x15

  Day 2 - Chest and Triceps
  Flat Barbell Bench Press 4x12
  Machine Pec Fly 4x20
  Incline Dumbbell Press 5x15
  Inclune Dumbbell Pec Fly 3x15
  One-Arm Alternating Cable Pressdown 4x15
  Reverse Grip Triceps Cable Pushdown 4x15
  Incline Skull-Crushers 3x20

  Day 3 - Calves, Hamstrings, and Quads
  Lying Leg Curls 5x12
  Squats 4x20
  Standing Calve Raise 3x15
  Seated Leg Curl 4x15
  Walking Lunges 4/15 per leg
  Leg Extension 4x20
  Seated Calve Raise 3x20
  tiff-leg Deadlift 3x15
  One-Leg Leg Press 3x20 per leg

  Day 4 off
  Day 5 off

  Day 6 - Back, Biceps, and Shoulders
  Bent Over Barbell Row 4x15
  Seated Side Laterals 4x20
  Seated Dumbbell Curls 4x20
  Wide Grip Lat Pulldown 4x15
  Machine Shoulder Press 4x15
  Machine Preacher Curl 4x10
  One-Arm Dumbbell Row 3x20
  Bent Over Rear Delt Lateral Raise 3x12
  Tow Arm Cable Bicep Curls 3x15
  Underhand grip Seated Cable Row 3x15
  Dumbbell Front Raise 3x15
  One-Arm Dumbbell Preacher Curl 3x12

  Day 7 - Chest and Triceps
  Incline Barbell Bench Press 4x12
  Machine Pec Fly 4x15
  Machine Dip 4x20
  Flat Dumbbell Fly 4x15
  Flat Machine Press 4x10
  Reverse Grip Tricep Pushdown 4x15
  Close Grip Bench Press 3x20
  Overhand Grip Pushdowns 3x12
  Overhead Tricep Extensions 3x15

  Day 8 - Calves, Hamstrings, and Quads
  Leg Extensions 4x12
  Leg Press 4x20
  Seated Calve Raise 4x20
  Squat 4x12
  Standing Calve Raise 4x8
  Seated Leg Curl 4x12
  Lying Leg Curl 4x10
  Hack Squat 4x10
  Walking Lunge 2x15 per leg

  Day 9 off
  Day 10 - off
</section>
<h1>Resources</h1>
<section>
  <p>Below are some articles we think are a great place to start!</p>
  <div ng-repeat="beginnerArticle in beginnerArticles">
    <h3>{{beginnerArticle.author}}</h3>
    <a href="{{beginnerArticle.url}}"><h4>{{beginnerArticle.title}}</h4></a>
  </div>
</section>
<h1>Mindset</h1>
<section>
  <div>
    <p>
      <ul>
        <li>Keep it simple</li>
        <li>Keep it fun</li>
        <li>Stay consistent</li>
        <li>Don't be too hard on yourself</li>
        <li>Crush it</li>
      </ul>
    </p>
  </div>
</section>
