<ul>
  <li><a href="#/beginner">Beginner</a></li>
  <li><a href="#/bodymap">Bodymap</a></li>
  <li><a href="#/exerciselibrary">Exercise Library</a></li>
  <li><a href="#/intermediate">Intermediate</a></li>
  <li><a href="#/routine">Routine</a></li>
</ul>
<div class="row">
  <div class="col s12 topFriend">
  <h2>5 x 5</h2>
  </div>
</div>

<section>
  <div>
    <p>A great starter routine for those new to fitness is a 5 x 5 routine. It will allow you to learn and get accustomed to most exercises while making fairly linear progress. Through this program, you will lay a solid foundation that you will be able to build upon in the future.</p>
    <p>The way you would approach this routine is to find weights that you feel comfortable completing 5 repititions for 5 sets. This may mean starting a bit lighter than you normally would, which will help ensure that you are able to complete all of your sets. Each workout, you will add 5lbs to the 5x5 exercises. If you feel comfortable increasing by more, go ahead, but be careful. For accessory exercises, increase weight as you feel comfortable.</p>
    <p>We recommend warming up with the bar on all the exercises and slowly build up to your working sets. Warm ups do not count in the amount of sets you have performed.</p>
    <p>If you are unable to complete the 5x5, that is okay, complete it for as many reps and sets as you can. The next time you would perform that exercise try that same weight again. If you succeed in hitting 5x5, move up the normal 5lbs the following workout. If you fail to hit 5x5 again, the next workout, you will reduce the weight you used by 10% and start building back up from there. If the number you get ends with a decimal, round down. Finally, only reduce the weight in the exercise you failed in.</p>
  </div>
  <div>
    <p>If you start your routine on Monday this is how the program would look.</p>
      <li>Monday – Workout A</li>
      <li>Tuesday – Off Day</li>
      <li>Wednesday – Workout B</li>
      <li>Thursday – Off Day</li>
      <li>Friday – Workout A</li>
      <li>Saturday – Off Day</li>
      <li>Sunday – Off Day</li>
    <p>The following Monday you would start with workout B and alternate to workout A and so on.</p>
    <span class="bold underline">Workout Routine A</span>
    <p>The first number refers to the numbers of sets, the second number refers to the number of repititions</p>
    <ul>
      <li>Squats 5x5</li>
      <li>Bench Press 5x5</li>
      <li>Bent over rows 5x5</li>
      <li>Barbell Shrugs 3x8-12</li>
      <li>Tricep exercise of your choice 3x8-12</li>
      <li>Bicep exercise of your choice 3x8-12</li>
      <li>Pull-ups until you can hit 5x5, if too easy use weight</li>
      <li>Rope Cruches – 3x10-20</li>
    </ul>
    <span class="bold underline">Workout Routine B</span>
    <p>The first number refers to the numbers of sets, the second number refers to the number of repititions</p>
    <ul>
      <li>Squats 5x5</li>
      <li>Deadlift 1x5</li>
      <li>Overhead press 5x5</li>
      <li>Bent over rows 5x5</li>
      <li>Tricep exercise of your choice 3x8-12</li>
      <li>Bicep exercise of your choice 3x8-12</li>
      <li>Chin-up until you can hit 5x5, if too easy use weight</li>
      <li>Rope Crunch 3x10-20</li>
    </ul>
    <p>Don't know how to perform some of the above exercises? Check out our <a href="#/exerciselibrary">Exercise Library</a>. You'll find all of the exercises listed above with a brief description on how they should be performed.</p>
  </div>
</section>
<h1>Resources</h1>
<section>
  <p>Below are some articles we think are a great place to start!</p>
  <div ng-repeat="beginnerArticle in beginnerArticles">
    <h3>Author: {{beginnerArticle.author}}</h3>
    <a href="{{beginnerArticle.url}}"><h4>Title: {{beginnerArticle.title}}</h4></a>
  </div>
  <div>
    <p>An exquisite <a href="https://www.youtube.com/watch?v=Szzo5Uy5aQU&list=PLyqKj7LwU2RsCOzQeDUPYRJ0E_yys3eDe">video series</a> that breaks down the basics of nutrition in a clear and understandable manner. Presented by Dr. Mike Israetel of Renaissance Periodization</p>
  </div>
</section>
<h1>Mindset</h1>
<section>
  <div>
    <p>
      <ul>
        <li>Keep it simple</li>
        <li>Keep it fun</li>
        <li>Stay consistent</li>
        <li>Don't be too hard on yourself</li>
        <li>Crush it</li>
      </ul>
    </p>
  </div>
</section>
