<div class="row">
    <div class="col s6">
        <div class="card">
          <div class="card-content flow-text">
              <p>Want to hit a certain muscle group, but don't know what exercises to do? We can help! Click on a bodypart you want to train to add the exercises for that muscle group to your routine. Then choose the exercises you want, and create a workout around those muscle groups.</p>
          </div> 
          <div class="card-image">
              <img id="Image-Maps-Com-image-maps-2016-08-09-142124" src="http://www.image-maps.com/m/private/0/d3lsp6thlvgorv7o33l9nsg9v7_muscle_anatomy.jpg" border="0" width="600" height="510" orgWidth="600" orgHeight="510" usemap="#image-maps-2016-08-09-142124" alt=""/>
<map name="image-maps-2016-08-09-142124" id="ImageMapsCom-image-maps-2016-08-09-142124">
<area shape="rect" coords="598,508,600,510" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0"/>
<area id="chest" alt="" title="Chest" shape="poly" coords="100,101,120,95,164,94,184,108,188,149,126,146,104,151" style="outline:none;" target="_self" ng-click="addChest()"/>
<area id="rightshoulder" alt="" title="Right Deltoid" shape="poly" coords="86,87,73,108,71,125,91,117,96,105,120,95,101,85" style="outline:none;" target="_self" ng-click="addShoulders()"/>
<area id="abs" alt="" title="Abs" shape="poly" coords="122,156,123,149,143,142,165,148,170,205,153,251,129,251,120,205" style="outline:none;" target="_self" ng-click="addAbs()"/>
<area id="leftbicep" alt="" title="Left Bicep" shape="poly" coords="193,117,214,132,228,160,214,168" style="outline:none;" target="_self" ng-click="addBiceps()"/>
<area id="leftshoulder" alt="" title="Left Deltoid" shape="poly" coords="175,95,191,90,212,105,218,131,193,122" style="outline:none;" target="_self" ng-click="addShoulders()"/>
<area id="traps" alt="" title="Traps" shape="poly" coords="108,82,128,71,157,71,183,87,145,93,126,91" style="outline:none;" target="_self" ng-click="addTraps()"/>
<area id="rightbicep" alt="" title="Right Bicep" shape="poly" coords="92,120,69,132,65,157,75,164,90,144" style="outline:none;" target="_self" ng-click="addBiceps()"/>
<area id="leftforearm" alt="" title="Left Forearm" shape="poly" coords="233,165,246,180,254,205,245,214,231,204,217,178" style="outline:none;" target="_self" ng-click="addForearms()"/>
<area id="rightforearm" alt="" title="Right Forearm" shape="poly" coords="58,165,45,180,42,198,63,211,78,182" style="outline:none;" target="_self" ng-click="addForearms()"/>
<area id="leftoblique" alt="" title="Left Oblique" shape="poly" coords="172,153,184,166,186,216,165,238" style="outline:none;" target="_self" ng-click="addObliques()"/>
<area id="rightoblique" alt="" title="Right Oblique" shape="poly" coords="117,151,103,164,103,218,120,235" style="outline:none;" target="_self" ng-click="addObliques()"  />
<area id="leftquad" alt="" title="Left Quad" shape="poly" coords="187,220,155,261,149,289,164,342,177,342,186,324,193,345,198,300,196,261" style="outline:none;" target="_self" ng-click="addQuads()"/>
<area  alt="rightquad" title="Right Quad" shape="poly" coords="100,232,92,267,94,330,102,327,112,325,115,348,126,324,141,278,124,245" style="outline:none;" target="_self" ng-click="addQuads()"/>
<area id="backtraps" alt="" title="Traps" shape="poly" coords="411,95,444,71,471,74,497,87,473,98" style="outline:none;" target="_self" ng-click="addTraps()"/>
<area id="lats" alt="" title="Lats" shape="poly" coords="426,99,409,117,410,139,419,169,422,187,432,207,451,161,467,152,487,100,502,102,500,147,484,200" style="outline:none;" target="_self" ng-click="addBack()"/>
<area id="rhomboids" alt="" title="Rhomboids" shape="poly" coords="436,104,478,105,458,147" style="outline:none;" target="_self" ng-click="addBack()"/>
<area id="lowerback" alt="" title="Lower Back" shape="poly" coords="457,168,437,204,476,209" style="outline:none;" target="_self" ng-click="addLowerBack()"/>
<area id="rightreardelt" alt="" title="Right Rear Deltoid" shape="poly" coords="498,98,508,90,519,98,527,108,527,131" style="outline:none;" target="_self" ng-click="addRearDelts()"/>
<area id="righttricep" alt="" title="Right Tricep" shape="poly" coords="509,118,505,135,524,174,523,148,531,143" style="outline:none;" target="_self" ng-click="addTriceps()"/>
<area id="leftreardelt" alt="" title="Left Delt" href="" shape="poly" coords="418,99,403,95,387,113,386,129,408,121" style="outline:none;" target="_self" ng-click="addRearDelts()"/>
<area id="lefttricep" alt="" title="Left Tricep" shape="poly" coords="382,172,408,137,408,126,387,126,379,148" style="outline:none;" target="_self" ng-click="addTriceps()"/>
<area id="glutes" alt="" title="Glutes" shape="poly" coords="422,215,418,230,419,258,423,273,444,281,457,258,466,274,486,280,499,258,495,216" style="outline:none;" target="_self" ng-click="addGlutes()"/>
<area id="lefthamstring" alt="" title="Left Hamstring" shape="poly" coords="441,288,420,283,410,333,420,354,441,324" style="outline:none;" target="_self" ng-click="addHams()"/>
<area id="right hamstring" alt="" title="Right Hamstring" shape="poly" coords="466,285,491,282,501,335,502,352,479,342,462,300" style="outline:none;" target="_self" ng-click="addHams()"/>
<area id="rightcalf" alt="" title="Right Calf" shape="poly" coords="487,363,482,372,479,406,480,425,490,413,507,422,514,396,502,355" style="outline:none;" target="_self" ng-click="addCalves()"/>
<area id="leftcalf" alt="" title="Left Calf" shape="poly" coords="419,360,409,361,399,401,408,419,421,415,434,427,431,383,432,371" style="outline:none;" target="_self" ng-click="addCalves()"/>
</map>

</div>  <!-- close card image -->

</div>  <!-- close card -->
</div> <!-- close left side -->

<div class="completedBodyMapList col s6">


<div class="bodyMapWorkout card-action">
  <form action="#">
    <ul>
      <li ng-repeat="bodyMapExercise in bodyMapExercises track by $index">
        <input type="checkbox" id="{{bodyMapExercise.exerciseName}}" ng-model="bodyMapExercise.selected">
        <label for="{{bodyMapExercise.exerciseName}}" ng-class="{'selected':BodyMapExercise.selected}">{{bodyMapExercise.exerciseName}}</label>
      </li>
    </ul>
  </form>
  <button ng-click="addBodyMap()" class="waves-effect waves-light btn top-right">Add Exercises</button>
  <h3 class="header">{{user.displayName}}'s Routine!</h3>
  <div class="card">
    <div class="card-content"> 
      <p>Search through your routine to make sure you have all the exercises you want!</p>
      <input type="text" ng-model="searchSelectedBodyMapExercises" placeholder="Filter your selected exercises">
      <p>Do 3-4 sets of 8 to 12 reps of each exercises</p>


    <div class="selectedBodyMapExercises" ng-repeat="selectedBodyMapExercise in selectedBodyMapExercises | filter:searchSelectedBodyMapExercises | orderBy:'exerciseName' track by $index">
      <ul>
        <li><h4>
          <span class="weightlifter">&#x1F3CB</span> {{selectedBodyMapExercise.exerciseName}}
        </h4></li>
      </ul>
    </div>
</div> <!-- close card content -->

</div> <!-- close card -->
</div> <!-- close list -->
</div> <!-- close whole row -->
