<!-- from to create a new challenge -->
<form id="form">
	Challenge:<input type="text" ng-model="challenge.title" /><br />
	Focus: <input type="radio" />heart rate
	<input type="radio" name="heartrate" ng-model="focus"  checked="checked" />heart rate
	<input type="radio" name="weightloss" ng-model="focus" />weight loss
	<input type="radio" name="steps" ng-model="focus"  />steps per day
	Description of challenge:<br /><input type="textarea" ng-model="challenge.description"/><br />
	Friends to invite<input type="text" ng-model="challenge.friends" /><br />
	<button ng-click="createChallenge(challenge)">Submit</button>
</form>