<!-- <h2>{{ user.name }} vs. {{ friend.name }}</h2> -->

<div class="card">
<!-- 	sleep, food & water logs, heart rate, weight, activity and exercise -->
	<h3>You</h3>
<!-- reorderable and deletable -->
	<p>{{user.data.user.averageDailySteps}}</p> 
	<p>{{user.activities.summary.steps}}</p> 
	<p>{{user.heartrate["activities-heart"]["0"].value.restingHeartRate}}</p>
	<p>{{user.activities.summary.fairlyActiveMinutes + user.activities.summary.lightlyActiveMinutes + user.activities.summary.veryActiveMinutes}}</p>
	
	<!-- <p>{{user.activities.activities.length}}</p> //number of workouts -->
</div>

<!-- <div class="card">
	<h3>{{ friend.name }}</h3>
	<p>{{ friend.activity }}</p>
	<p>{{ friend.exercise }}</p>
	<p>{{ friend.heartrate }}</p>
	<p>{{ friend.weight }}</p>
	<p>{{ friend.sleep }}</p>
</div> -->
