<h2>{{ user.name }} vs. {{ friend.name }}</h2>

<div class="card">
<!-- 	sleep, food & water logs, heart rate, weight, activity and exercise -->
	<h3>{{ user.name }}</h3>
<!-- reorderable and deletable -->
	<p>{{ user.activity }}</p>
	<p>{{ user.exercise }}</p>
	<p>{{ user.heartrate }}</p>
	<p>{{ user.weight }}</p>
	<p>{{ user.sleep }}</p>
</div>

<div class="card">
	<h3>{{ friend.name }}</h3>
	<p>{{ friend.activity }}</p>
	<p>{{ friend.exercise }}</p>
	<p>{{ friend.heartrate }}</p>
	<p>{{ friend.weight }}</p>
	<p>{{ friend.sleep }}</p>
</div>
