<div class="row">
  <div class="col s12 topFriend">
  <h2>Start Your Fitness Journey with FitKnit</h2>
  </div>
</div>

<div class="container">
  <div class="row flow-text">
    <div class="col s10 offset-s1">
      <div>
    <p>At FitKnit, we realize that everyone is on their own unique fitness journey. We want to meet you where you currently are. Whether you are completely new to fitness, an intermediate, a fitness professional, or just want to do your own thing, we want to help you reach whatever goals you have.</p>
  </div>
  <div>
    <img src="images/1_percent.jpg" alt="The Math if you improve 1% or regress 1% every day for a year">
    <p>The image above describes a philosophy we live by hear at FitKnit! The journey of 10,000 steps starts with the first, and a mentality you must adopt is that of consistent daily improvment. If you were to improve 1% a day for every day within a year, the progress you make would be incredible! This is due to the compound effect. As you st This will allow to build on your improvements, and those will slowly begin to compound. Before you know it, you will be improving at a truly incredible rate. For this reason it is critically important that once you start your routine you remain consistent.</p>
  </div>
  <div>
    <p>Are you a complete beginner? Check out our <a href="#/beginner">beginner</a> page. There you can find a great workout for beginners along with some resources that may help you on your journey.</p>
    <p> More of a visual learner? Check out the <a href="#/bodymap">Bodymap</a> where you can see what muscles you will be targeting. Create your routine based around the muscles you want to target.</p>
    <p> Want to learn more about how to properly execute an exercise? Check out our <a href="#/exerciselibrary">Exercise Library</a>. There you can find all the information you need to ensure you perform each and every exercise in a safe and responsible manner.</p>
    <p>More of an intermediate or advanced user? Check out our <a href="#/routine">Routine</a> page to construct your routine from our list of exercises. The exercise you want to do not there? Not a problem! Enter your own exercises to ensure you have a customized routine tailored to your own needs.</p>
  </div>
  <div>
    <p><strong>&#x26a0; Disclaimer:</strong> Consult with your physician before beginning any kind of exercise routine.</p>
    <p>FitKnit and its subsidiary Kreative Software Solutions are not licensed medical care providers and represents that they has no expertise in diagnosing, examining, or treating medical conditions of any kind, or in determining the effect of any specific exercise on a medical condition.</p>
  </div>
  </div>
  </div>
</div>
