<ul>
  <li><a href="#/beginner">Beginner</a></li>
  <li><a href="#/bodymap">Bodymap</a></li>
  <li><a href="#/exerciselibrary">Exercise Library</a></li>
  <li><a href="#/intermediate">Intermediate</a></li>
  <li><a href="#/routine">Routine</a></li>
</ul>

<div class="row">
  <div class="col s12 topFriend">
  <h2>Your One Stop Shop For Exercise Needs</h2>
  </div>
</div>
<input ng-model="exerciseDescription" placeholder="Search by exercise name or body part:">
<ul class="collapsible popout" data-collapsible="accordion">
    <li ng-repeat="exerciseDescription in exerciseDescriptions | filter:exerciseDescription | orderBy: 'exerciseDescription.bodypart'">
      <div class="collapsible-header"><h4>&#x1F3CB {{exerciseDescription.exerciseName}}</h4></div>
      <div class="collapsible-body"><p>Muscle Group: {{exerciseDescription.bodypart}}</p></div>
      <div class="collapsible-body"><p>Description: {{exerciseDescription.exerciseDescription}}</p></div>
      <!-- <div class="collapsible-body"><iframe  ng-src="{{exerciseDescription.exerciseVideo}}" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div> -->
      <div class="collapsible-body"><img ng-src="{{exerciseDescription.exerciseGif}}" alt="{{exerciseDescription.exerciseName}}" /></div>
  </li>
</ul>
