<div class="container">
<div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea" name="new-post-content" value="" ng-model="newPostContent"></textarea>
          <label for="icon_prefix2">Write a post</label>
        </div>
        <div flow-init flow-name="uploader.flow"
             flow-files-added="processFiles($files)">
          <button flow-btn type="file" class="btn waves-effect waves-light" type="button"><i class="material-icons">add_a_photo</i></button>
          <div ng-repeat="image in uploader.flow.files track by $index">
            <img flow-img="image"/><br>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="button" ng-click="addPost()">Post</button>
      </div>
    </form>
  </div>
  
<div>
<post ng-repeat="post in posts | orderBy:'dateUploaded':'reverse' track by $index" ></post> 
</div>
