<div class="row">
	<div class="col s12 topFriend">
	<h2>Resources for Intermediates</h2>
	</div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 topFriend">
    <h3>Bodybuilding Style Workout</h3>
    </div>
  </div>
  <div class="row">
  <div class="col s10 offset-s1 flow-text">
    <p>Once you have laid your foundation and are comfortable with most exercises, if your goal is increasing your muscle mass, this is a great template routine to get you used to the increased volume</p>
    <p>Like before, the first number refers to the numbers of sets, the second number refers to the number of repititions </p>
    <p><span class="bold underline">Day 1 - Back, Biceps, and Shoulders</span></p>
    <ul>
      <li>Seated Supported Machine Row 4x15</li>
      <li>Seated Side Laterals 5x20</li>
      <li>Standing Barbell Curl 4x15</li>
      <li>One-Arm Dumbbell Row 5x20</li>
      <li>Reverse Pec-Fly 4x12</li>
      <li>Two-Arm Machine Curl 4x12</li>
      <li>Seated Cable Row (close grip) 4x15</li>
      <li>Seated Dumbbell Front Raise 3x15</li>
    </ul>

    <p><span class="bold underline">Day 2 - Chest and Triceps</span></p>
    <ul>
      <li>Flat Barbell Bench Press 4x12</li>
      <li>Machine Pec Fly 4x20</li>
      <li>Incline Dumbbell Press 5x15</li>
      <li>Inclune Dumbbell Pec Fly 3x15</li>
      <li>One-Arm Alternating Cable Pressdown 4x15</li>
      <li>Reverse Grip Triceps Cable Pushdown 4x15</li>
      <li>Incline Skull-Crushers 3x20</li>
    </ul>

    <p><span class="bold underline">Day 3 - Calves, Hamstrings, and Quads</span></p>
    <ul>
      <li>Lying Leg Curls 5x12</li>
      <li>Squats 4x20</li>
      <li>Standing Calve Raise 3x15</li>
      <li>Seated Leg Curl 4x15</li>
      <li>Walking Lunges 4/15 per leg</li>
      <li>Leg Extension 4x20</li>
      <li>Seated Calve Raise 3x20</li>
      <li>tiff-leg Deadlift 3x15</li>
      <li>One-Leg Leg Press 3x20 per leg</li>
    </ul>

    <p><span class="bold underline">Day 4 - Off</span></p>
    <p><span class="bold underline">Day 5 - Off</span></p>

    <p><span class="bold underline">Day 6 - Back, Biceps, and Shoulders</span></p>
    <ul>
      <li>Bent Over Barbell Row 4x15</li>
      <li>Seated Side Laterals 4x20</li>
      <li>Seated Dumbbell Curls 4x20</li>
      <li>Wide Grip Lat Pulldown 4x15</li>
      <li>Machine Shoulder Press 4x15</li>
      <li>Machine Preacher Curl 4x10</li>
      <li>One-Arm Dumbbell Row 3x20</li>
      <li>Bent Over Rear Delt Lateral Raise 3x12</li>
      <li>Tow Arm Cable Bicep Curls 3x15</li>
      <li>Underhand grip Seated Cable Row 3x15</li>
      <li>Dumbbell Front Raise 3x15</li>
      <li>One-Arm Dumbbell Preacher Curl 3x12</li>
    </ul>

    <p><span class="bold underline">Day 7 - Chest and Triceps</span></p>
    <ul>
      <li>Incline Barbell Bench Press 4x12</li>
      <li>Machine Pec Fly 4x15</li>
      <li>Machine Dip 4x20</li>
      <li>Flat Dumbbell Fly 4x15</li>
      <li>Flat Machine Press 4x10</li>
      <li>Reverse Grip Tricep Pushdown 4x15</li>
      <li>Close Grip Bench Press 3x20</li>
      <li>Overhand Grip Pushdowns 3x12</li>
      <li>Overhead Tricep Extensions 3x15</li>
    </ul>

    <p><span class="bold underline">Day 8 - Calves, Hamstrings, and Quads</span></p>
    <ul>
      <li>Leg Extensions 4x12</li>
      <li>Leg Press 4x20</li>
      <li>Seated Calve Raise 4x20</li>
      <li>Squat 4x12</li>
      <li>Standing Calve Raise 4x8</li>
      <li>Seated Leg Curl 4x12</li>
      <li>Lying Leg Curl 4x10</li>
      <li>Hack Squat 4x10</li>
      <li>Walking Lunge 2x15 per leg</li>
    </ul>

    <p><span class="bold underline">Day 9 - Off</span></p>
    <p><span class="bold underline">Day 10 - Off</span></p>
  </div>
  </div>
</div>
