<div class="row">
	<div class="col s12 topFriend">
	<h2>Get motivated, {{user.displayName}}!</h2>
	</div>
</div>
<div class="row">
    <div class="card col s3">
      <h3 ng-bind="user.fullName" class="header"></h3>
      <div class="card-image">
        <img ng-src="{{user.avatar}}" alt="{{user.displayName}}'s photo">

      </div>
      <div class="card-content flow-text">
        <p>Your average daily steps: <span ng-bind="user.averageDailySteps"></span><br />
<!--         Your active minutes: <span ng-bind="user.averageDailySteps"></span><br />
        Your resting heart rate: <span ng-bind="user.averageDailySteps"></span></p> -->
      </div>
    </div> <!-- close card -->

	<div class="col s8 offset-s1">
  		<youtube></youtube>
	</div>
</div>

<div class="row">
  <div class="col s12">
  	<h4>{{randomMotivationalQuote}}</h4>
  </div>
</div>
