<div class="row">
	<div class="col s12 topFriend">
	<h2>Get motivated, {{user.data.user.displayName}}!</h2>
	</div>
</div>
<div class="container">
<div class="row">
    <div class="col s4">
        <img ng-src="{{user.data.user.avatar150}}" alt="{{user.data.user.displayName}}'s photo">
      <div class="flow-text">
        <p ng-bind="user.activities.summary.steps"></p> 
        <p ng-bind="user.activities.summary.fairlyActiveMinutes + user.activities.summary.lightlyActiveMinutes + user.activities.summary.veryActiveMinutes"></p>
        <p ng-bind="user.heartrate['activities-heart']['0'].value.restingHeartRate"></p>
      </div>
    </div> <!-- close card -->

	<div class="col s7 offset-s1">
      <p>Your motivational video of the day:</p>
  		<div class="video-container"><youtube></youtube>
      </div>

	</div>
      <div class="row">
        <p>Your motivational quote of the day:</p>
        <h4>{{randomMotivationalQuote}}</h4>
      </div>
</div>
</div>
