<div class="row">
  <div class="col s8 offset-s2 flow-text">
      <h3 class="header">Loving your FitBit?</h3>
      <div class="card horizontal">
        <div class="card-image"><a href="https://www.fitbit.com" target="_blank"><img src="https://pbs.twimg.com/profile_images/684426513773531136/Tk5cdz9f.png"/></a></div>
        <div class="card-content"><p>You can take it to the next level with FitKnit - an interactive app to increase your motivation to get and stay fit.</p></div>
      </div>
  </div>
  <div class="row">
  <div class="col s5 offset-s1 flow-text">
      <h3>How it Works</h3>
      <ul class="collection with-header z-depth-1">
        <li class="collection-header"><h4>FitKnit knits together your fitbit statistics and motivational psychology.</h4>
        <li class="collection-item">Self-monitoring: viewing your activity</li>
        <li class="collection-item">Cognitive restructuring: positive self-talk</li>
        <li class="collection-item">Modeling: learning by watching another person perform the healthy behaviors you aspire to</li>
        <li class="collection-item">Goal-setting: developing concrete, specific steps to take toward a goal</li>
      </ul></div>
        <div class="slider height='400' col s5" slider>
    <ul class="slides">
      <li>
          <img src="images/two_step_grant.jpg" alt="Only two steps today? I better get moving! Grant Chirpus says." />
      </li>
      <li>
          <img src="images/positivelyGrant.jpg" alt="Grant Chirpus says, My thighs are killing me from all those stairs yesterday. Let's do it again!" />
      </li>
      <li>
          <img src="images/like_ray_grant.jpg" alt="Grant Chirpus is working on his arms today - he wants to look like Ray." />
      </li>
      <li>
          <img src="images/grants_plan.jpg" alt="Grant Chirpus has an exercise plan." />
      </li>
    </ul>
  </div>
</div>
</div>

<!--         <li ng-repeat="chirp in chirps">
            <img src="{{ chirp.image.path }}" alt="{{ chirp.image.alt }}" />
            <div class="caption right-align">
              <h3>{{ chirp.title }}</h3>
              <h5 class="light grey-text text-darken-3 flow-text">{{ chirp.content1 }}<em>{{ chirp.span1 }}</em>{{ chirp.content }}</h5>
            </div>
        </li> -->
