<div>
	<h1>About the Fitknit project</h1>
	<p>All you knit is Fitness</p>
</div>

<div>
	<section ng-animate="'animate'" ng-repeat="slide in slides"><h2>{{ title }}</h2>
    <p>{{ content }}</p>
    <img ng-src="{{ image.path }}" alt="{{ image.alt }}"/>
    </section>

<!--     <a class="btn btn-primary" href="#" ng-click="first = !first" ng-class="{ active: first }">First</a>

	<a class="btn btn-success" href="#" ng-click="second = !second" ng-class="{ active: second }">Second</a> -->
</div>


	
	<footer>Kreative Software Solutions</footer>
