<section>
  <p>
    At Kreative Software Solutions, we deeply appreciate and value the help and support we have recieved throughout our time in the Front-End Bootcamp.
    <ul>
      <li>Thank you to all of the friends and family who have supported their bootcampers throughout the process.</li>
      <li>Thank you to all of the Grand Circus staff for being tremendous resources and making our transition into the development world as seamless as possible.</li>
      <li>Thank you to our instructors Adam, Aisha, and Jeseekia for sharing your knowledge of programming, for inspiring us, and for letting us melt your brains with all of our questions about errors we were encountering.</li>
      <li>Thank you to the Javascript June bootcampers for creating an environment that made learning a challenging new skill enjoyable and fun. Javascript June Bootcamp is still and forever will be the best bootcamp.</li>
      <li>Thank you to our FitKnit friends: Dave Brunetti, John Beckius, Ray Walters, Chelsea Miles, Landon Borrego, and Maurice Tedder for providing the information neccessary to make our app work.</li>
      <li>Thank you to <a href="http://psycd.calpoly.edu/faculty-staff/carrie-langner">Carrie Langner</a> for the extra motivational psychology insights injected into this app.</li>
    </ul>
    We would not have been able to reach the finish line without your support.
  </p>
  <h1>Thank you!</h1>
</section>
