.main-nav.ul.li {
  display: inline-block; }

div.profile {
  background-color: yellow;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  vertical-align: top;
  width: 25%;
  height: 500px; }

.dogeMotto {
  font-style: italic; }
