.friendly {
  margin-left: 20px;
  border-top: 20px solid #eeff41; }

.topFriend {
  border-bottom: 2px solid black; }

.Gil {
  background-color: #eeff41; }

.karen {
  font-family: 'Caveat', cursive;
  text-shadow: black 2px 2px 5px; }

.syed {
  font-family: 'Indie Flower', cursive;
  text-shadow: black 2px 2px 5px; }

.shug {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-shadow: black 2px 2px 5px; }

/*fitbit icon on landing page*/
.fitbit {
  float: left; }

.top {
  margin-top: -35px;
  margin-right: 10px; }

#slide-out {
  width: 200px; }

/*turn name of active page orange on nav*/
/*nav ul a {
  transition: background-color .3s;
  font-size: 2rem;
  color: white;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}

nav ul li .active {
  color: #ff6f00;
}
nav ul a:hover {
  color: #ff6f00;
}*/
/*preventing the slider from going grey.*/
/*input[type=range]::-webkit-slider-runnable-track {
  background: white;
  }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: white;
}*/
.slider .slides {
  background-color: white; }

/*offset content by width of side nav */
footer {
  padding-left: 275px; }

main {
  padding-left: 215px; }

@media only screen and (max-width: 992px) {
  main, footer {
    padding-left: 215px; } }
