.karen {
	font-family: 'Caveat', cursive;
	text-shadow: black 2px 2px 5px;
}

.syed {
	font-family: 'Indie Flower', cursive;
	text-shadow: black 2px 2px 5px;
}

.shug {
	font-family: 'Comic Sans';
	text-shadow: black 2px 2px 5px;
}

.fitbit {
	float: left;
}