	<div class="card col s3 offset-s1">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" ng-src="{{friend.data.user.avatar}}" alt="{{friend.data.user.displayName}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{friend.fullName}}<i class="material-icons right">more_vert</i></span>
    </div>
		<button class="right waves-effect waves-teal btn-flat black-text" type="delete" ng-click="deleteFriend(friend)">Unfriend</button>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{friend.fullName}}<i class="material-icons right">close</i></span>
			<p>Average Daily Steps</p>
			<p>{{friend.data.user.averageDailySteps}}</p> 
			<p>Steps</p>
			<p>{{friend.activities.summary.steps}}</p> 
			<p>Active Minutes</p>
			<p>{{friend.activities.summary.fairlyActiveMinutes + user.activities.summary.lightlyActiveMinutes + user.activities.summary.veryActiveMinutes}}</p>
			<p>Resting Heart Rate</p>
			</p>{{friend.heartrate["activities-heart"]["0"].value.restingHeartRate}}</p>
    </div>
  </div>
