  <!-- repeat this div for each of the friend's information -->
<div class="card-content">
	<!-- friend's name in uppercase -->
	<h2 class="card-title">{{friend.fullName}}</h2>
	<!-- friend's photo and information -->
	<div class="row">
			<img ng-src="{{friend.data.user.avatar}}" alt="{{friend.data.user.displayName}}" width="100" height="100" class="circle responsive-img col s6"/>

			<p class="col s6">{{friend.data.user.displayName}}'s average daily steps: {{friend.data.user.averageDailySteps}}</p>
	</div>

	<button class="right waves-effect waves-teal btn-flat black-text" type="delete" ng-click="deleteFriend(friend)">Unfriend</button>

</div>
