<div>
  <p>{{post.date - current date}} {{units}} ago</p> //time since posted 
  <h3>{{post.author}}</h3>  //name of poster
  <img ng-src="{{post.image.path}}" alt="{{post.image.alt}}"> //image of poster
  <div>
    <img ng-src="{{}}" alt=""> //if image was uploaded display image
    <p>{{post.content}}</p> //post content 
  </div>
  <p>{{post.likes}}</p> //current likes of post 
  <ul>
    <li ng-repeat="comment in post.comments">{{comment}}</li> //post comments
  </ul>
  <input> //enter new comment field
  <button> //add comment
</div>

//Text field for entering post
//Add post button
//Upload image input

//Post content
//Post date (time since)
//Posted by (image and name of user)
//Number of Likes
//Like post
//Number of comments
//Expandable comments
//Comments made by (image and name of user)
//Add comments
//Add image

//Posts include all posts by friends and user
//Posts sorted chronologically from latest to earliest post
//Limit number of posts shown (scrolling down shows earlier posts)

/* --data structure for post--

{
  dateUploaded: 
  author:
  image:
  content: 
  likes:
  comments: [{}, {}, {}]
}

  /* --data structure for comment--
    {
      content:
      author: 
      date:
    }
  */
*/
